{
    "GW":"GW",
    "Ps":"PS",
    "Kn":"KN",
    "WP":"WP",
    "Ol":"OZ",
    "Pi":"PI",
    "OP":"OP_PO",
    "KZ":"KZ",
    "SG":"SG",
    "DG":"DG",
    "ŁC":"LZ_LC",
    "Zw":"ZA",
    "DW":"DG_WZ",
    "B":"T1_BZ",
    "Spł1":"SG_PO",
}