{
    "Góra Włodowska":"GW",
    "Psary":"Ps",
    "Knapówka":"Kn",
    "Włoszczowa Północ":"WP",
    "Olszamowice":"Ol",
    "Pilichowice":"Pi",
    "Opoczno Południe":"OP",
    "Katowice Zawodzie":"KZ",
    "Sosnowiec Główny":"SG",
    "Dąbrowa Górnicza":"DG",
    "Łazy Łc":"ŁC",
    "Zawiercie":"Zw",
    "Dąbrowa Górnicza Wschodnia":"DW",
    "Będzin":"B",
    "Sosnowiec Południowy":"Spł1",
    "Idzikowice":"Id"
}